/* Pagina Productos */
/* Main */

.main-productos {
  padding: 2rem;
  .productos__h1 {
    font-size: 6rem;
    margin: 5rem;
    font-family: var($primary-font);
    font-weight: bold;
  }

  & .section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
    padding: 2rem;

    .producto {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      background-color: #f8f9fa;
      border: 3px solid #dee2e6;
      border-radius: 3rem;

      img {
        padding: 1.5rem;
        width: 30rem;
        height: 33.5rem;
        margin-bottom: 1.5rem;
        border-radius: 2rem;
      }

      a {
        width: 30%;
        font-size: 1.5rem;
      }
    }
  }
  @media (min-width: 700px) {
    .section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .section {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// /* Fin Pagina Productos */
