/* Pagina Recomendaciones */

.recomendaciones {
  font-size: 1.5rem;
  margin: 8rem;
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 5rem;
    margin-bottom: 6rem;
  }
  .recomendaciones__card {
    margin-bottom: 5rem;
  }
}

/* Fin Pagina Recomendaciones */
