$primary-font: "Roboto", sans-serif;

html {
  box-sizing: border-box;
  font-size: 62.5%;
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--primary-font);
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: $primary-font;
}
